{% extends 'layout_page.twig' %}

{% set page = 'issues' %}

{% block title %}GitList{% endblock %}

{% block content %}
<div class="btn-group">

    {% if showstate == 0 %}
    <button class="btn">Opened</button>
    {% endif %}

    {% if showstate == 1 %}
    <button class="btn">Closed</button>
    {% endif %}

    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <li><a href="#" id="showStateAction-2">Opened</a></li>
        <li><a href="#" id="showStateAction-3">Closed</a></li>
    </ul>
</div>
<input id="issueInputText" class = "span12" type="text" placeholder="Create issues something…" style="margin-top: 10px; margin-right: 20px;">
<button style="margin-bottom: 10px" class="btn btn-success" onClick="onIssueListCreate({{project.id}})">Create Issue</button>
    {% include 'issues_list.twig' %}
<hr />

{% block javascripts %}
<script type="text/javascript" >
    jQuery("#showStateAction-2").click(function(e) {
        
        window.location.href = location.protocol + '//' + location.host + location.pathname + '?state=0';
        
        e.preventDefault();
    });
    
    jQuery("#showStateAction-3").click(function(e) {
        
        window.location.href = location.protocol + '//' + location.host + location.pathname + '?state=1';
        
        e.preventDefault();
    });
    </script>
{% endblock %}

{% endblock %}
